In [7]:
import pymysql
myconnection = pymysql.connect(host='127.0.01', user='root',passwd='Sruthi@666')
cur=myconnection.cursor()
cur.execute("create database Nutrition_Paradox")

1

In [11]:
cur.execute("use Nutrition_Paradox")

0

In [13]:
cur.execute(""" CREATE TABLE obesity(
    Year int,
    Sex varchar(10),
    Mean_Estimate float,
    LowerBound float,
    UpperBound float,
    Age_Group varchar(15),
    Country varchar(80),
    Region varchar(50),
    CI_Width float,
    obesity_level varchar(30)
    )
""")
cur.execute(""" CREATE TABLE malnutrition(
    Year int,
    Sex varchar(10),
    Mean_Estimate float,
    LowerBound float,
    UpperBound float,
    Age_Group varchar(15),
    Country varchar(80),
    Region varchar(50),
    CI_Width float,
    malnutrition_level varchar(30)
    )
""")

0

In [15]:
myconnection.commit()

In [17]:
from Data_Processing import df_obesity, df_malnutrition

Requirement already satisfied: pycountry in /opt/anaconda3/lib/python3.12/site-packages (24.6.1)

In [25]:
cur.execute("ALTER TABLE obesity MODIFY COLUMN Age_Group VARCHAR(30);")
cur.execute("ALTER TABLE malnutrition MODIFY COLUMN Age_Group VARCHAR(30);")

0

In [27]:
for index, row in df_obesity.iterrows():
    insert_values = """INSERT INTO obesity
                       (Year, Sex, Mean_Estimate, LowerBound, UpperBound, Age_Group, Country, Region, CI_Width, obesity_level)
                       VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                    """
    cur.execute(insert_values, (
        int(row['Year']),
        row['Sex'],
        float(row['Mean_Estimate']),
        float(row['LowerBound']),
        float(row['UpperBound']),
        row['Age_Group'],
        row['Country'],
        row['Region'],
        float(row['CI_Width']),
        row['obesity_level']
    ))

for index, row in df_malnutrition.iterrows():
    insert_values = """INSERT INTO malnutrition
                       (Year, Sex, Mean_Estimate, LowerBound, UpperBound, Age_Group, Country, Region, CI_Width, malnutrition_level)
                       VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                    """
    cur.execute(insert_values, (
        int(row['Year']),
        row['Sex'],
        float(row['Mean_Estimate']),
        float(row['LowerBound']),
        float(row['UpperBound']),
        row['Age_Group'],
        row['Country'],
        row['Region'],
        float(row['CI_Width']),
        row['malnutrition_level']
    ))

myconnection.commit()